{% extends 'base.html' %}
{% block content %}
<h1>Contact Me</h1>
<div class="contact">
    {% if success %}
    <p>Thanks. Your message has been sent.</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>

    <p>ABOUT ME:</p>
    <p>I am Simon a year 11 student and I very like silkie chickens.</p>

    {% load static %}
    <a href="{% static 'Chicken_me.jpeg' %}">
        <img src="{% static 'Chicken_me.jpeg' %}" alt="Chicken">
    </a>
</div>
<div id="lightbox" class="lightbox">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <img class src="lightbox-content" id="lightbox-img" alt="lightBox">
    <div id="lightbox-img"></div>
</div>
{% endblock %}