{% extends 'base.html' %}
{% block content %}
<h1 class="faq-h1">Frequently Asked Questions</h1>
<p></p>
<h3 class="faq-h3">Silkies are one type of breed in the chicken family that behaves differently from others.
    There are two variants of silkie chicken the bearded and non-bearded. They also come in 7 colours blue,
    white, buff, black, partridge, grey and splash.</h3>

<h3>How long do Silkie Chickens live for?</h3>

<p> Silkies live on average about 9 years, but with lots of TLC have been known to live even longer! Some people
    <br>
    think
    of Silkies as fragile chickens, but they can be pretty tough, spunky little chickens, standing up for
    themselves,
    not always at the bottom of the pecking order.
</p>

<h3>Are Silkies noisy?</h3>

<p> Silkies tend to be a little less noisy than other chicken breeds. Hens tend to make noise after they lay an egg
    with
    her “egg song.” Silkie roosters are not as loud as other breeds, BUT I have had a couple that didn’t have a
    problem
    belting out a loud “cock a doodle doo.” You would think that because they are so much smaller than other chicken
    breeds, they would be quieter. This is not always true.</p>

<h3>At what age do Silkies start laying eggs?</h3>

<p> Silkies begin laying eggs on average by 7-9 months. This is a little later than the average chicken which is
    around
    6 months. Some Silkie owners even find that they don’t see their first egg until about 1 year. Weather can
    affect
    when a hen begins laying. When the daylight hours get shorter and the weather is cooler, chickens will wait
    until
    the following Spring to begin laying.</p>

<h3>Why Do Silkies need special care?</h3>

<p>Silkies have a harder time maintaining their body temperature in cold weather. Most chickens have downy
    feathers
    that trap little air pockets of their body heat, silkies don’t. Silkies also don't have good vision just like
    the
    other breeds.</p>
{% endblock %}