{% extends 'base.html' %}
{% block content %}
<h1 class="faq-h1">Frequently Asked Questions</h1>
<p></p>
<h3 class="faq-h3">What colours do silkie chickens come with?</h3>
    <p>There are two variants of silkie chicken the bearded and non-bearded. The most common colours are black and white.</p>

<h3 class="faq-h3">Are silkie chickens better than normal hens?</h3>

<p>Yes, they have advantages over regular chickens.<br>The most iconic advantage is that they can be keep as pet due to their unexpected friendliness and IQ.</p>

<h3 class="faq-h3">How long does silkies live for?</h3>

<p>They usually have a life span of 7 to 9 years on average.<br>Some of them can live up to 10 to 13 years.</p>

<h3 class="faq-h3">Where do silkies orignate from?</h3>

<p>They were originally from China.</p>

<h3 class="faq-h3">How does silkie chicken got its name?</h3>

<p>Their name comes from one of Marco Polo's diary logs.</p>
{% endblock %}