{% extends 'base.html' %}
{% block content %}
<h1 class="faq-h1">Frequently Asked Questions</h1>
<p></p>
<h3 class="faq-h3">What colors are ordinary silkie chickens?</h3>
<p>There many variants of silkie chickens, the most common colors are black and white.
</p>

<h3 class="faq-h3">Are silkie chickens smarter than normal hens?</h3>

<p>Yes, they have advantages over regular chickens.<br>The most iconic advantage is that they can be keep as pet due to
    their unexpected friendliness and IQ.</p>

<h3 class="faq-h3">What is the average life expectany of Silkies?</h3>

<p>Silkies usually live for 7 to 9 years, though some can reach 10 to 13 years.</p>

<h3 class="faq-h3">Where did Silkies come from?</h3>

<p>They were originally from China.</p>

<h3 class="faq-h3">How did the Silkie chicken get its name?</h3>

<p>Silkies were first mentioned in ancient Chinese writings as chickens with fur-like feathers.
    <br> Marco Polo saw them in Asia in the 1200s and wrote about their hair-like feathers,
    <br> which helped the West learn about this unique breed.
</p>
{% endblock %}