{% extends 'base.html' %}
{% block content %}
<h1>Animal Gallery</h1>
<div class="gallery">
    {% load static %}
    <a href="{% static 'silkie.jpg' %}">
        <img src="{% static 'silkie.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_2.jpg' %}">
        <img src="{% static 'silkie_2.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_3.jpg' %}">
        <img src="{% static 'silkie_3.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_4.jpg' %}">
        <img src="{% static 'silkie_4.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_5.jpg' %}">
        <img src="{% static 'silkie_5.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_6.jpg' %}">
        <img src="{% static 'silkie_6.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_7.jpg' %}">
        <img src="{% static 'silkie_7.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_8.jpg' %}">
        <img src="{% static 'silkie_8.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_9.jpg' %}">
        <img src="{% static 'silkie_9.jpg' %}" alt="Silkie">
    </a>

    <a href="{% static 'silkie_10.jpg' %}">
        <img src="{% static 'silkie_10.jpg' %}" alt="Silkie">
    </a>
</div>
<div id="lightbox" class="lightbox">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <img class src="lightbox-content" id="lightbox-img" alt="lightbox">
    <div id="caption"></div>
    <a class="prev" onclick="changeImage(-1)">&#10094;</a>
    <a class="next" onclick="changeImage(1)">&#10095;</a>
</div>
{% endblock %}